var config = {
     environment: 'test'
    ,port: 8888
    ,host: '127.0.0.1'
    ,enable_cors: true
    ,cache_enabled: false
    ,log_format: '[:date] :req[X-Real-IP] :method :req[Host]:url :status :response-time ms -> :res[Content-Type]'
    ,postgres_auth_user: 'test_cartodb_user_<%= user_id %>'
    ,postgres: {
        user: "publicuser",
        host: '127.0.0.1',
        port: 5432,
        extent: "-20037508.3,-20037508.3,20037508.3,20037508.3",
        simplify: true,
        max_size: 500
    }
    ,mapnik_version: '2.0.2'
    ,millstone: {
        cache_basedir: '/tmp/cdb-tiler-test/millstone'
    }
    ,redis: {
        host: '127.0.0.1',
        port: 6333,
        idleTimeoutMillis: 1,
        reapIntervalMillis: 1
    }
    ,sqlapi: {
        protocol: 'http',
        host: 'localhost.lan',
        port: 8080,
        version: 'v1'
    }
    ,varnish: {
        host: '',
        port: null,
        ttl: 86400
    }
};

module.exports = config;
